<div class="text-center ">
Adoptame.co 2017 © All rights reserved. With ♥ from Pereira,Colombia.<br>
Code and Designed by <a href="https://www.hectorfjimenez.us/vitae">Hector F. Jimenez</a><br>Grupo Empresarial Jimenez,inc.
</div>