<h1 class="text-center">Quizas estes perdido! ó<br/>El Recurso no está Disponible en el momento</h1>
<section  class="fondito">
    <img src="images/404-1.gif" class="chiquita">
</section>
<h1 class="text-center">Error {{error.status}}</h1>
<pre class="bg-warning">{{error.stack}}</pre>