 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators: Dots -->
        <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://www.palmadog.com/images/easyblog_images/236/blog/lonely-dog.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Raun</h3>
          <p>Todos merecen una oportunidad  .</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://api.women-talk.com/responsive_filemanager/source/pantone/2310192.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Eventos</h3>
          <p>Podras poner a prueba las habilidades de tu cachorro.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="https://static-latercera-qa.s3.amazonaws.com/wp-content/uploads/sites/7/20160704/2310732.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Adoptar</h3>
          <p>Cachorros de todas las razas en nuestras maratones de cachorros.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://static.latercera.com/20160407/2277975.jpg" class="jpg"></lonely-dog>" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Vacunacion</h3>
          <p>Jornadas de vacunacion, atención gratuita.</p>
        </div>      
      </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Previo</span>
    </a>
</div>
<!--         END     Carousel                           -->
