<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <a href="edit.html" data-original-title="Editar Usuario" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
           <a href="/usuario/edit" >Editar Perfil</a>
            | 
        <a href="/usuario/logout" >Logout</a>
        <a data-original-title="Cerrar Session" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
       <br>
<p class=" text-info">{{dia}}</p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{nombre}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="Imagen de Usuario" src="https://www.acefitness.org/myace/images/contactimage/no_photo.jpg" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td class="profile-attr">Nombre Usuario:</td>
                        <td>wrong db:username</td>
                      </tr>
                      <tr>
                        <td class="profile-attr">Ultima Fecha de Ingreso:</td>
                        <td>{{dia}}</td>
                      </tr>
                      <tr>
                        <td class="profile-attr">Fecha de Registro</td>
                        <td>reg:undefined</td>
                      </tr>
                         <tr>
                        <td class="profile-attr">Telefono</td>
                        <td>tel:undefined</td>
                      </tr>
                        <tr>
                        <td>Direccion </td>
                        <td>Mz 4 Cs 10 B. Villa Consota</td>
                      </tr>
                      <tr>
                        <td class="profile-attr">Correo Electronico</td>
                        <td>tel:undefined</td>
                      </tr>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="" class="btn btn-primary">Lista de Adopciones</a>
                  <a href="" class="btn btn-primary">Lista de Denuncias</a>
                </div>
              </div>
            </div>
                  <br><br><br><br>
                 <div class="panel-footer">
                 <br><br><br><br>
                        <a data-original-title="Soporte Adoptame.co" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">Contacta a Soporte <i class="glyphicon glyphicon-envelope"></i></a>
                    </div>  
          </div>
        </div>
      </div>
        </div>
<br>