@import url('https://fonts.googleapis.com/css?family=Lobster|Orbitron');

.texto-hector{
    font-family: Lobster, Monospace;
    font-size: 23px;
}
.thumbnail img{
    max-height: 200px;
}

.thumbnail description{
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;

}
.clogin {
    margin-top:30px;
}

.cloginfrase {
    float:right; 
    font-size: 80%;
    position: relative;
    top:-10px;
}

.g{
    margin-bottom: 12px;
}

.lineahr{
    margin-top:10px;
    margin-bottom:10px;
}