@import url('https://fonts.googleapis.com/css?family=Lobster|Orbitron');

.texto-hector{
    font-family: Lobster, Monospace;
    font-size: 23px;
}
.thumbnail img{
    max-height: 200px;
}

.thumbnail description{
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;

}
