<div class="container">
<p>
<center>
<img src="/images/startup.jpg" class="img-thumbnail"alt="" style="max-width:600px"><br></center>
<div class="text-justify "><br>
      <div class="col-md-6 col-md-offset-3">
      Somos un colectivo de interesados en las mascoticas callejeras, la gran mayoria de nosotros aprendiendo desarrollo web, deseamos crear una plataforma descentralizada que permita realizar adopciones de mascotas, aceptamos donaciones para el tratamiento de animales abandonados, y denunciamos personas que maltratan a los animales. Tambien realizamos campañas de vacunaciones y recibimos todo tipo de alimentos.

      Nuestro objetivo es mas un realizar un proyecto social, por que creemos que podemos retribuir algo a nuestra ciudad atravez de la tecnológia.
    </div>
</div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <h2 class="text-center">Ponte en contacto con nosotros</h2>    
            <!-- Nombre-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">nombre</label>
              <div class="col-md-9">
                <input id="nameform" name="nameform" type="text" placeholder="Pepito Perez" class="form-control" required >
              </div>
            </div>
    
            <!-- Correo Electronico-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Correo Electronico</label>
              <div class="col-md-9">
                <input id="emailf" name="emailf" type="email" placeholder="correo@sitio.com" class="form-control" required>
              </div>
            </div>
    
            <!--Cuerpo del mensaje, aun pienso que deberia ser mas lindo -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Tu Mensaje</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Ingresa tus comentarios..." rows="5" required></textarea>
              </div>
            </div>
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
    </div>
</div